<link rel="stylesheet" href="/css/styles.css">

<h1>Carrito de Compras</h1>
<div class="cart-summary">
    <p>Total de productos: {{cart.products.length}}</p>
    <button onclick="emptyCart()">Vaciar Carrito</button>
</div>

<div class="cart-container">
    {{#each cart.products}}
    <div class="cart-item">
        <h2>{{this.product.title}}</h2>
        <p>Cantidad: {{this.quantity}}</p>
        <p>Precio: ${{this.product.price}}</p>
        <button onclick="removeFromCart('{{this.product._id}}')">Eliminar</button>
    </div>
    {{/each}}
</div>

<script>
    function emptyCart() {
        const cartId = '{{cart._id}}';
        fetch(`/api/carts/${cartId}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Error al vaciar el carrito');
            }
            console.log('Carrito vaciado');
            location.reload(); // Recargar la página para reflejar los cambios
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>